<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>

<h2>Добро пожаловать, <span th:text="${user.username}">[Имя]</span>!</h2>
<p>Email: <span th:text="${user.email}">[email]</span></p>
<p>Фамилия: <span th:text="${user.lastName}">[Фамилия]</span></p>
<p>Роли: <span th:text="${user.roles}">[Роли]</span></p>

<!-- 👇 Форма выхода -->
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>

</body>
</html>
